*{
    font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
margin: 0px;
padding: 0px;
}
.banner {
    margin: 41px auto;
    position: relative;
    width: 82%;
    height: 492px;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
                url('resources/Banner-Image.png') center center no-repeat;
    background-size:cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif;
}
.banner-text>h3{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}
.banner-text>h1{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
#discount-section{
    margin: 0 auto;
    width: 50%;
}
#discount-section>h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;                       
}
#discount-section>p{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#discount-section>h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#discount-section>img{
    width: 658px;
    height: 410px;
    margin: 82px auto;
}

#party-section{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    padding: 68px;
    position: relative;
    width: 82%;
    height: 492px;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png')  no-repeat;
    background-size:cover;
    align-items: center;
 

}

.party-text>h1{
    color: #FFF;
font-family: Merriweather;
font-size: 52px;
font-style: normal;
width: 526px;
}
.party-text>p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.party-text>button{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
background:none;
border: 0px solid #000;
cursor: pointer;
}
#party-section>img{
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
align-items: center;
flex-shrink: 0;
}
.text-color{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 26px;
line-height: 45px;
}
#location{
    width: 82%;
    height: 395px;
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.location-gradient{
    width: 82%;
    height: 395px;
    position:absolute;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.location-gradient>p{
    color: #070211;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 600;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.location-gradient>button{
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
background: #F00;
border: none; color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;


}
#portfolio{
    width: 82%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#portfolio>h6{
    color: #F00;
font-family: Inter;
font-size: 19.5px;
}
#portfolio>h4{
    color: #070211;
font-family: Merriweather;
font-size: 40px;
}
#portfolio>p{
    color: rgba(7, 2, 17, 0.60);
    width: 730px;
    margin: 0;
font-family: Inter;
font-size: 16px;
}
#portfolio>div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}
#portfolio>div>img{
    width: 347px;
    height: 369px;
    margin: 2px;
}
#subscribe{
    width: 82%;
    height: 505px;
    border-radius: 16px;
    margin: 100px;
    padding: 80px 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.05);
}
.subscribe-body{
    display:block;
    justify-content:right;
    margin: 0 auto;
    width: 50%;
}
.subscribe-body>img{
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.subscribe-body>form{
    width: 648px;
    height:60px ;
    display: flex;
    border: none;
    margin: 70px auto;
}
.subscribe-body>form>input{
    width: 530px;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
.subscribe-body>form>button{
    width: 118px;
height: 59px;
flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
}
::placeholder{
    color: rgba(7, 2, 17, 0.30);
text-align: left;
padding: 25px;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.footer-section{

    height: 300px;
    background: #070211;
    padding: 120px;
   
}
.footer-p1{
    display: flex;
    justify-content: space-between;
}
.text-1{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    justify-content: left;
}
.text-2{
    color: #FFF;
font-family: Inter;
font-size: 20px;
display: inline;
}
hr{
    margin: 50px 0;
    background: rgba(255, 255, 255, 0.15);
    height: 0.10px;

}
.footer-icon{
    margin: 24px 24px 24px 24px;
    display: flex;
    width: 30px;
    height: 30px;
}
.footer-p2{
    display: flex;
    justify-content: space-between;
}
.footer-p2>p{
    color: #FFF;
font-family: Inter;
font-size: 20px;
justify-content: left;
}
.footer-p2>button{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
background:none;
border: 0px solid #000;
cursor: pointer;
justify-content: right;
}