*{
    font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
margin: 0px;
padding: 0px;
}
.container{
    width: 82%;
    margin: 0 auto;
}
.banner {
    margin: 50px auto;
    position: relative;
    width: 82%;
    height: 492px;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
                url('resources/Banner-Image.png') center center no-repeat;
    background-size:cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif;
}
.banner-text>h3{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}
.banner-text>h1{
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 60px;
}
.discount-section{
    margin: 50px auto;
    width: 50%;
}
.discount-section>h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72px;                       
}
.discount-section>p{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 19px;
}
.discount-section>h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 39px;
}
.discount-section>img{
    width: 658px;
    height: 410px;
    margin: 60px auto;
}

.party-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 41px auto;
    padding: 50px;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png')  no-repeat;
    background-size:cover;
    background-position: center;

}

.party-text>h1{
    color: #FFF;
font-family: Merriweather;
font-size: 52px;
font-style: normal;
max-width: 500px;
}
.party-text>p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    margin: 24px auto;
    max-width: 571px;
}
.party-text>button{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
background:none;
border: 0px solid #000;
cursor: pointer;
}
.party-section>img{
    display: flex;

margin: 40px;
align-items: center;
}

.location-gradient{
    border-radius: 16px;
    padding: 100px 200px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.location-gradient>p{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}
.text-color{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.location-gradient>button{
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
background: #F00;
border: none; color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;


}
.portfolio{
    justify-content: center;
    align-items: center;
}
.portfolio>h6{
    color: #F00;
font-family: Inter;
font-size: 19.5px;
}
.portfolio>h4{
    color: #070211;
font-family: Merriweather;
font-size: 40px;
}
.portfolio>p{
    color: rgba(7, 2, 17, 0.60);
    width: 730px;
    margin: 0;
font-family: Inter;
font-size: 16px;
}
.portfolio>div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}
.portfolio>div>img{
    width: 347px;
    height: 369px;
    margin: 2px 2px;
}
.subscribe{
    width: 82%;
    height: 505px;
    border-radius: 16px;
    margin: 100px;
    padding: 80px 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.05);
}
.subscribe-body{
    display:block;
    justify-content:right;
    margin: 0 auto;
    width: 50%;
}
.subscribe-body>img{
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.subscribe-body>form{
    width: 648px;
    height:60px ;
    display: flex;
    border: none;
    margin: 70px auto;
}
.subscribe-body>form>input{
    width: 530px;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
.subscribe-body>form>button{
    width: 118px;
height: 59px;
flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
}
::placeholder{
    color: rgba(7, 2, 17, 0.30);
text-align: left;
padding: 25px;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.footer-section{

    height: 300px;
    background: #070211;
    padding: 120px;
   
}
.footer-p1{
    display: flex;
    justify-content: space-between;
}
.text-1{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    justify-content: left;
    align-items: center;
}
.text-2{
    color: #FFF;
font-family: Inter;
font-size: 15px;
display: inline;
align-items: center;
}
.hr{
    margin: 50px 0;
    background: rgba(255, 255, 255, 0.05);
    height: 0.2px;

}
.footer-icon{
  
    display: flex;
    justify-content: center;
}
.footer-icon>img{
    margin: 0px 12px;
    width: 40px;
    height: 40px;
}
.footer-p2{
    display: flex;
    justify-content: space-between;
}
.footer-p2>p{
    color: #FFF;
font-family: Inter;
font-size: 15px;
justify-content: left;
}
.footer-p2>button{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
background:none;
border: 0px solid #000;
cursor: pointer;
justify-content: right;
}
.icon{
display: flex;
align-items: center;
gap: 10px;
}